<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	bVHJbuswDPwXng3DsuMsvgVoi/bQFkiAvkPRA2PRsQrJMiS6C4L8+6Oa7qhO1GjEGXIO
	4IhRIyM0B3AYmcIlmX3P0FRFOcvesX9Gcw/NrKjKDHwwNDCy8QM06phB54NDvqMQT1AG
	T6f6auh8arybjNU3k9tRgAbUal1XZd1BBjiOn99A7rHtyeGGnswJKzIYLXISEIK53YLI
	oX6cIjvxEKG5P/whTwPuLGloOEwkXYnZDPuYrOwtxkjxGplpba1//qLhSIGnQDJnXmeg
	aeT+Y4IWx/Sk1z85Dl+Mm9wXquYZbM9uLzY0aAoi+mlLdmknhzfeRNq2aIVc5IWarRbz
	olTLqlqoxbKsZJvYUhrsIS22neKGWk4WXtOHeSkBPKdKlaL/kqq6kN79CUtxODP8MpVX
	q7ezmKt6qWbCEprRskHTmbdMztKw512XtD4CvfpOaL3LJS1L+dh79nB8OP4H
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.camera</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.8</string>
	<key>adjustmentRenderTypes</key>
	<integer>2</integer>
	<key>adjustmentTimestamp</key>
	<date>2021-10-04T14:31:32Z</date>
</dict>
</plist>
