<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	nVfHjuNIEv0XXdXoojcN7IFe9N5paw8URSda0RQpNebfN6Uy072YwQKjC8XIyBcRL18m
	I3/u2mxOzsmc7H783LXJNGfjIauKct79QCGK+vZhC6vzXO5+IChMfNv1Y5V1czJXfbf7
	QfzxbZf3Y5vMQTZOTxP8bff2/l/u8v4BfFqq5mws7Skbdz92MM3iEI7ku2+7ZBi+pu0w
	GPoOf4chGAxMaZm1iZO9Ve+D0Lfd0CTzIxLwrEx3B+Im58syzS1IZtr9+PfPv8gj65JT
	k513P+ZxyQBqNs9VV0yPnPo8B69uMi/jRykgRtUNy8z1TQ/yhL5DKIySCI6RMEYTOIVA
	KIB4FD7NVfoEmZLZysYUZFA1GU09JtEERSAkhiMUDqEYDCj8zUn69IJICgN0QgRCIyDI
	/7iR+MOLwDEagmkKRnGUxGmSfHoxy9wHSbNkf50jIOa9Ng4s3bOqj9e+m8dPUwIw3lkB
	7tX5ETSvnqvjtsn4QcGn28+v5//jB4ClyzgCOID0nPQlD/nXIGnffgdr32Tfh7J/ev2z
	1SuTc79Ofy6d9i5d6DsKcsMRFEFIgoYJHMI+WTgAj+bhNf1CjdanSfM599MobEM/LWP2
	i4kdHz5dNv06mW2StLb6qnuf/LtABgh5MgWhNALjH9KAaOohpQGHHmNflg8P/J32rxX+
	LIUigRcNY2B87rukcZKueDqAWRCCUxgFtERCYPj0a0aP2DBNEjiMQShOUwhMApcBeQoM
	ehfYhxjRpw6f7OjJ8HUOgJUY3lVL/l7En74f58PDtXlw+ZtEMRL9/ffnPOatAGpwDva/
	dn8ageV8LOE2ytJsoOkhlsbiuvCj7C5lsj9MfQtVmqnO8Q2tqHX0XXwOMVaO6vIo15gl
	s01gD/I9vzuqifZI5ODsgYXh9hBGZ3wgOvRW5UnCXGVpKIgbwA3nkpQOU1zdAK64unOm
	hfPhLCgnO9CPJrMa4h2Wirt50iGfTL1zId2xk9QBPOUIcKs0O+JEf0Da4toCPHMsVUIa
	seStJDlpki1G4/3leMcny18Rz5ErntVjhRtqHYNuHn+VjaA/mWx6fNTdoGGcHWGi69o8
	T1yQpwrqR4Sxd+dSBc9YHfOxngwhyA2owBwX2/NOrAlsf5YDf8s9djMP2N131l7cYLTt
	suQ8NADvmgM+ySHat4WasQD3WiQtez3su1wNiKla72Zj3yOe7WUoNoRijaQSKl2Ovmhg
	b58q6vVFvhXJAX0UvKEtes0ygqX6CBBKlK8vQ7fvCvUM/kRInV1ZtIvcTr3Hi3dnV+0w
	HU0bCnmWOh0q0VGhfkr4ANZ4KFPKNASpPVLMwPMdMTEeQESTqwrdo0uZHWmgCSk4DcWb
	eRdInZ+u+nY0eQbSJXbNZAGqA5aQlCBujDI9iqwBgJBLnohU3yE1AKT7jmiyxLi1kZsl
	uLO10t45xXRfuzij39fFvPl30Yl1nlm9A4sVDoshUtjnYYm9iaxg86Cw9wo75KNUFLCX
	BFMrhWp8VKyzuChBX1TFOg/q3V5NrrhJVeqLzGrypZ0enBWwWGGNeRM2kdNd3mH0nMg4
	sBwDkA93jYEsryU1BFfVbVcrZo82H9SaysyeFU7LiWtSyV99yaZMIKNIYvFQ9qCL5Rq8
	VPmuxDKawFy5a+9O73Jx54JYuNGRrjwcm+GK5dw6Jdo90O0G5yJIiezGx91trWROdw5l
	nx5CvbRcBj1cUh/gWbzdm9wD7wq2n5ytYBsCOaoIXzKab+MCL6RG57y+jDrB0DVnrGZj
	iOGliXnO1mSGSsQtTnxXwKUbFIF3g1trnWUg6QkYt/fq5IJ9DYC1VONXhK7pzEFDqRv3
	U4Qh3kWMABH2XHCrrAnrpPNlGglbuh14BmhUdrk11Zhi5Xk7UWb5il70TN+wBatOoTCt
	+y4ZlhAJW6Q97y+Y0xWi6RvnFVG4rdc0Zjpy22Swm+8JlR4ppe7xNgTwJo5nbINFL1Kg
	B86tdsXLadHmLSHyBEe74yGIzoKPOlEjZmxYCXtWqWPa9xxGKCm3tJEr76yuyMopv646
	u07cI3/OXpVE3apRIBYFvRlv8Y0QxmY/RtmpNoQMZmVd2JhArBYtmurZ82ifF3SNLVaR
	V2XAG2XxK2awNngHZxNXrCrPKO61vp1jslirUKIvJ8iZgETBvoeh2Ar0vXEhjlYfLedy
	viim1ciP+sD8+MGbAOo1Djae8cH00D7PM7rOQFxrqnQwX8J7qGHhFqtIfi2RNiTF+nxe
	8cGaxjdlIiVz0/xec5lHfbbGPXnTdZBXIyCx2ayTBHh8xOE8BdcaPzQdnCKKkpdLcnt9
	uaLZ6USpJhRaXZFLOtWi8/FU1zYzxQ/CWGYKH0/epi0dEbbIPcbctj7sIKBSTP61j1TF
	6l3uIqTH8caGry/ZtVzX48FJl+FGieQ9emPT0VVY7t67ib2V3LpqXh3kbidaJ5/ePFTX
	vHXiH4GYThp8hcLaekm8hLIw7pTzOA6NohSXZ3qh5A4qLSelgosv87VmNeI96BzudCkv
	wUHxc1FBvHYOcwYwyhY6A1beOTrHPlxIm2zKjrcK29BteWN7/iZbyIZuocXiVKMt/qnI
	DXvmuDvlpmIDe6jjnCAa9aRZTxuOsfGtbOurw2HG8S1cqJwqj7dL4soiZHUrpPJ2avBA
	YdwWu+RwX9oMdt4YKOduxVPRHCLQKbT1HgLrx8ZA/JjRQmZiObRY8k4TE0IgBijDXXxy
	nHWVHwoRS/nKu3V4qKxVN4UKDaQR4OvgC/FUNFNsew+h/bSmJx89HvL7hmhh/foS1yJs
	xzZcCNJiXrGmLlYPABpKFVNaLQd2WYxAu4PO6aPe6mFkrxIA1KvbyWpmPIPhuxBSmbv1
	JFOQzW30b0lwWC+2375p+NRm5fz6wju+zhebZAkY7lTNQbwUTVAZiuIJjXozOm7D0rZ7
	JDMf9/AhI7OUpaeoRbOx3M/odUiuSgiaBdKJRbl0cUrufUNgVl8ToNcXn4dtExboPEhU
	s5OxlCMk8MlqfXjBsmlYR+wgX9JEv8WdWGqhMKL76+nK1mWQsSo+eWXpzCK2ZhewY7mt
	oENBSUxYHxxIKQPwwTgJLWaRMRFcjCro5/ENSYZsOg5TixRnAmFHdGnPhLK0YSKFMRMB
	4ZkiHeCICz4jvKNrsncOTLFog3IWDdHhUmGrgitslvXWmJLQGRytHU8i/oZlZK6x1Bip
	faKKZYO4UtQbXjpYekNdE0i5R7Lua8wKefK96M3Sfn2RgpiIoGFxQoZOfXjwJP0t5Bna
	bioF7j0lJ1l6DJM2wEFL2pp6cGistIbf6lQKtuNFb8+yv9iTAM5nVyzrVoSmNhSCexwr
	TlrPtRvQYnQ5a6ZfY756aqtzeR/CsEnGbRz9vepiLH+EnNiV/EeHuJbVnH01tjSBgXaX
	ohAUR2gMhmnQp8LQe8v71c9+9rffdiVoL9Xs9rxXIRgJ7lMUCdMwihIQ/cc/uSR5fZf9
	3R3p7y8i//iK9J8//gs=
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.mobileslideshow</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.5</string>
	<key>adjustmentTimestamp</key>
	<date>2021-10-04T14:31:26Z</date>
</dict>
</plist>
