<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BackgroundHighlightCollection</key>
	<date>2021-11-15T15:19:14Z</date>
	<key>BackgroundHighlightEnrichment</key>
	<date>2021-11-15T15:19:13Z</date>
	<key>BackgroundJobAssetRevGeocode</key>
	<date>2021-11-15T17:18:59Z</date>
	<key>BackgroundJobSearch</key>
	<date>2021-11-15T15:19:14Z</date>
	<key>BackgroundPeopleSuggestion</key>
	<date>2021-11-15T12:18:19Z</date>
	<key>BackgroundUserBehaviorProcessor</key>
	<date>2021-11-15T12:18:23Z</date>
	<key>PGGraphDataModelEnrichmentContextBackgroundEnrichment</key>
	<date>2021-11-15T17:18:59Z</date>
	<key>PGGraphDataModelEnrichmentContextWeeklyEnrichment</key>
	<date>2021-11-09T19:48:18Z</date>
	<key>PhotoAnalysisGraphLastBackgroundGraphConsistencyUpdateJobDateKey</key>
	<date>2021-11-15T12:18:31Z</date>
	<key>PhotoAnalysisGraphLastBackgroundGraphRebuildJobDate</key>
	<date>2021-11-15T12:18:19Z</date>
	<key>PhotoAnalysisGraphLastBackgroundMemoryGenerationJobDate</key>
	<date>2021-11-15T12:18:23Z</date>
	<key>PhotoAnalysisPresentationLastCacheCPAnalyticsPropertiesJobDate</key>
	<date>2021-11-15T12:18:29Z</date>
	<key>PhotoAnalysisPresentationLastMediaSampleReportingJobDate</key>
	<date>2021-11-15T12:18:29Z</date>
	<key>SiriPortraitDonation</key>
	<date>2021-11-15T12:18:23Z</date>
</dict>
</plist>
