<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	tVfblqrIlv0XX83eyf2yx+gHbspdERHxZD8gIiAgyMUAa9S/90Izc1fVqTP6nIf2IVOD
	FTPmWnPGIuK3WRl34SnswtnP32Zl2HZxo8ZZknaznyRGUG+fY3526tLZTwojibdZ1WTx
	tQu7rLpC1O9vs3PVlGG3i5v2OYS/ze6v79r1XE3Axz4rTnZfHuNm9nOG8yKN0cR59jYL
	6/p72ozCsR/4DxzD4UEbpXEZbuJ79nqIvc3qIuymlSAyW7kzWDc8Xfq2K4FMO/v5j9/+
	hkd8DY9FfJr97Jo+BtS467Jr0k6czmEUawD8A+N5hqIZisRIkqcoGmPeZl1c1nETdn0T
	z37SGAbLJ004Bk8i0zft+W3C8MOmnGqD/aDfZgh+bGHuExdjCJZjWADE4Q+FYfwrYAGz
	vhgBne4bynlNo3CewxiYRGIMi/EElDzsu+pryrT896Jvs6gqqmY71gBJvh4634Bu18TX
	ZArEP7m9lvtBcAzQwzESx4EkyVFQzewEhczO2VMjP826WAyL8Apcv9b/7fv/v5Xnv1zs
	r2WAxaO+AaoQ/nw0+zaV9kdSUVX+AMcU8Y86rYDI72//oebV+Qw/3UnXT/tCobJr3XfS
	VMWJLNiPZzCW5QiSITkeBzO0k9fbLoueGG3YreMmmmgVMc9NczjQiwSdcJYhIc8pwT9F
	LT/DCJImeIogCI7EWYLB/xLG0lMUw1M4ADEQinEkQRPPKAEKvwuLPv5bjlCuV2oS7NZn
	Up8/q2vXfA398tBfxXbLsPmswD9L/X+U50/aPef8/2qXhqcKwcB/ARfYsjQ0DRzHeYzk
	pm71JGu++hf2g6RxfvpwsIkYGifZr7qoEFFMUe3TwDjDMzRYl8RYDucYjv+KM6soLH7B
	YbAWxeE0x7EMD5FfYcpQV+2zVUysCJInKSgPh4PODMN8RYnNBHSN29eiDMbjFEHxBIvh
	HDbJ/BlWhFG+rr76wp/NV2PEa8uB3XCa4WA/QcOa7Af9kcaeu+3X2BTDvhT99s5XTb4+
	kERXXcNiE16Tl7lIisNYkmBYhqZoKMzb7PhHStPiOA8PcXgb0DwHroeQmqBfpZzcwVEk
	FJugKR6DtJ6FtsL6+70COtevHcG+gr4nsb+iP984U3AxqfCnDUAQkN4fPuSvecI9Abdt
	rtF/z34NwkgS7T7e7+RYxTeRuY5+unTzw2JI9stNtV8knC0LgSkKrSILniUmmC77YnGr
	YuKylo4szfZxrF9r2tx6kWVVArmWhZWCKFNPrdMETJS6EYS6mO8XQxBoYrRXHG4lJe1S
	QgDoYAvZiWzrwqCE9Z2BXq9Ki4hJn2gOZms3yWMnnyxboOIhDQnpRi3rxGhze4OGJ8Gh
	TZeZ4ikJsiQERJ1WkZAFhJFqMIPX1qpUtHN71MnDiTuFV4Ra2UbWiDA5O7rLhjKaJCw+
	3utxtzOhmK7bUvrWCq00SJSEWkvoBSgkSJYdz62LPrs0hP8Irmpx0tm7V24lpFkPB9my
	szI6LUSJQYjNlbmqGSq2W/FgFtF17TqUOqJQ22h7SNgUUCvJgmWJwhjuGkPpKNZIo94a
	yCWS1cAUnLs4PReoEktD+uO90aTqzASJPniYgWGNl3UbDY8iO0W3hZjbCkJAVAOi7V2i
	+LypDCxlS33QDDIyEjNArSix0ZSIlJmG0uzntzNzmNeuclVzrt27nWd4XrZKqUzdcP7C
	4UBKZ8ITNR+Z2TILTqE+bwL/Ed/wrhY6RkKKCV1IlJChd5rbnsObcHP7WtvnKLjYoabk
	yTqlRXUbRMYQFPIggOKtJKHF8px0/e4gDuU1vpxZkbwRYShRCSTeexOuUGWP1MD5Ri2v
	1oJC6/EkLEbqsBzas+pqR30TQd7UepF85u3pPOB6GZFZx5pnb6Sf76vcSlEvSFQOuK2Y
	HedKe52jyAqo+GIvVkpgLZzWkjfKZiF6O7D9YSlw28+8/WUA/33fCTV8vO379mwujCzL
	1hJtmf4z76U+BKRwbnliqp7tRZSbcHN5U1my09pgHktJnYMM20gE48m6ZqYgfKQPY6Ne
	xCQq2HvS+w7d2tUTD/IOykfKLpXWn593Nwd3ZTxw8GTYprS+yHMLnB4rAwfGoQzYknY1
	1ZPUyRt5o5PWWD2Coy5Rtt04I/npB9B7VO9U+AgP+L66+MOmFJd7bOHaeV6vxXZcDNhB
	TVpPHhJbdBAYU7MqlcDPlk6ONRmkXW5KhSnJ1gtPFgxhoEw15fTu5mXh+cbbFVbzazzh
	kku6s2QucsSEkAYlWAqY+zRywgxJU+hNPmSZDTuOASCPC6z70xCaJVR+nzBzrd+FjG+4
	Urtd5hZZr6NLell7CeW69MrOK2CRejImPIlabDF2cuFsdoPxcNcrCek+Ql34TBxw02Yp
	N1VGWyvu2lCNZOZoWF/0s+1r7HaLG3ahzHeoS1YLi3STToVeF2QSI1pbjtp5+l42Wki4
	z57CPAVa6S3lY9mx1LE9c8+thYQuBms1Ft48stzeWet9vojloBo9eaGCWqUttKU25pfV
	2ElQcHMjAA4ZPflNeYtaiaesofdUiZ+Z0RkCgssaX2lIpjzReFdsFsXGR/Zp4Fn1mJdN
	troqjVfY8mmzLgJoPO3H+0QQmrQuoQScgengILXXRjZjT35zUK3ckuw+iB/JbWCq69Jf
	qIN2keQ+DOgOOiXaN0Jzd1vaxgJ+eylUCUssAWGK7AQ24C1lZ653QfbxDr3P6Mf4lnMr
	F1UEA01UatTxEtXJOtn6x4Xm7ULxfGvmo8Vld2Q+KORuD84qb5nts4c6EyAAeyuZKunM
	khwUxHPzuNyiei1P+F3lonO4e5TpSjA+3t2KHbb1MuZH7mH2pmJR20vnOouNsLvwW9lD
	9tZ5AoIlKPtyJLRBV5WUswZEr+XCcjf3aqTSxv54v5VjKBP5ga3ZQukjj9W2ncFjj41c
	r0zSFk55cXH9wHYRvpE9ZwWAqoxuq5666DkXqsNDlYvW3w2HJZTCzKDrGV3IKJafkFLY
	Wxta3FanOLKO7rCwPOcRKjq2KXg9SHhZzqPN3qHWMkpsKRj5zLq5A+UPdhT6Q31cPjWq
	SixhaHRNRVqGQwg13sP4VHCEgzRtpzQHt2csKu/drbiVt9x6m/AbwHPgvRZeOMN6VGcx
	bURxOJy1os1cFMw/3rMmVtrlPHauyZY4PM5F1wcEoTqykKzsTd+tDwqZS92gRpSlO/wg
	s4Lba9IgH8ototjtZKZ2sVeKdiK6hjwkq9fi4XSr1hc0nlRtUV3Kce1UnC2JzmB7vOxj
	p6tJKGtVwGUv1NyOiumEwaxKXyuXzlBbmB+3cx+IwtvHcFA1MkAcJNosK1kU9+XeCCLd
	cXKE6UrWUltvd9wQGrUTsJM8gpYNvkLATGoE4pRHKxXTYgRvSpbU9wtgukFBT6Wsu2ie
	R4ZTXqfu2ax58iqG0JCRrYyd4eCH5T4bfAlF66MWP9JGUtvK6GSaAVce1fQ2l5tlo4CJ
	vCH4eBeyY6i21KpLjAOcGfZ9Eh+oXSUuzzrDuZUzbRTPlJNBl4bWlNyeCEJXaap4SG74
	owrGeWrOlSYw7ofWdZFuChd2hFpOojPS7TovYwZOYdc+WYbaytwZvVx606FmLQ+OJQ3G
	KjLTsvTjc2owUrP3s4vZy33ltqm5Wg+AB9qs78FIZcdYbjTjBpmzlQo8mQVVjfaoac7p
	lGCJrFDDYUopup3mNUEkoT4CsWV7YrTphIime+730Zb/y3kUTq81jv3LE3cKx0sjHp93
	f57A4EiMw9UArkZwFfz9n+9g0+WAZgicYXgCrk7TNZD8um+dw6L9+3vZtrpON/B/50r1
	P7//Lw==
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.mobileslideshow</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.5.1</string>
	<key>adjustmentTimestamp</key>
	<date>2021-10-04T14:31:27Z</date>
</dict>
</plist>
