<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	bZAxT8NADIX/i+cjSkpb0tsQA3ShEkgwIAY3cZJDubvozmmpqv53nKStOrBZ9nu233cE
	S4wlMoI+gsXIFF7I1A2DzvJspc69T1NyAzqfZwp8MOQY2XgnopOCygeL/EEhTi0Fu6le
	u8oPe7e9acvX3m4pgIYsf85noAC77uqB++UsSZMsTWUQi4YsvtHOTMNUQdciD2dEaTbv
	IEex/OkjW/kkgv46/vMEOdy2VILm0JNsJWbj6jg8dMD9uFai1MZh+xR8B7rCNorwdzN2
	ZcdCJNFi4OtsP3FYzh4UHC661SoXHQccuJF7dHVLoO/EjD37q7c5c13M5woK70aH4wvu
	9LZ55j0kN1wMlUQ2paQ1lRkpji9f2K9vJ4W3ibBtKekaL/dP36c/
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.mobileslideshow</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.4</string>
	<key>adjustmentTimestamp</key>
	<date>2021-10-04T14:31:35Z</date>
</dict>
</plist>
