<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	tVdZs6JKEv4vvtrTAoJCR8wDS7Eo+yLiOA+IWIWsR/CAdvR/n0I93adv3BsTcyOGCCMl
	K/PLLzNr4/ukTLv4GHfx5Nv3SRm3XXpR0wyibvKNZEnuy0sXZscOTb6xNPllUl+ytOri
	LqsrbPTjy+RUX8q426SX9qn6Mnl//teqUz3iHq5ZcTSv5SG9TL5NSFZhqcmXSdw0P30m
	8wX1lfhKEgQeaBOUlrGbvmfPQeLLpCnibgyDLTPLm+Cg8fF8bbsSM2kn3/71/U9IpFV8
	KNLj5Ft3uaYYNe26rILtSCg9ndLkd+OHxozLdCQjSZcYo2XJ5GNEq7q0arPu9kw5O+LA
	2Sl7JAQeFpOPQmifx5K6/IoTLdKvDaq7GjP/H6nWpxN+9eLuenmVHJcjq5prJ9ZFjUMQ
	XwmGZak5QzEcwSwIjpxjxHZsUIszeIC0cWenl2TkVaQc+4j5m075M+WSGdHp5RN/SdBL
	kmPo+cOKv3b1Ji6u6Z8TwCV6Ehfx9HlQfr3WVXf5UMUY45nyHyvqlfHlld+H2fef8r8l
	j8GS6+WC4TDSw+nH/6c1t7h/pnbJYFbFhXipm8m3U1y02HCwHtqHQTum83Ok/7SWbh9W
	iyU7Nu0Sj2svrfgKFri0//hZpZcveq1NllriLOvq4VF1H0uW+Kx8rdlx9WRdMv77Y5kf
	hP+v0xbFx7pvf81Z/cXzK8ktlhx+5gzJECS9YD5miIotitGq/TRt9DqJC/1njk8lGJq6
	vV7STyrhMtpUafvZWSjiJLfrrHo6/74yGoJ6zCJizlEks2AX1JJmCI4l8DRvGOJJ9fcR
	5tmTn7P/I5WPB3emq/F0cOMKPg0YlqI5giYpDIE7hyt3+MxpjE5yywVD0sSc4ViKXOIY
	DfVYfsQnSg8iGP5RHyNuPto+LvjmtYI/xl7dH4eKsXq/LVi829LEp2fxy49/h7j/Ohn8
	c/JLiTUOuZM2wPVdeQWCHMvNRg6DXeyS5BoSN9mnzS1SFBDVKEdlqOzqY4XKVN7RuxJS
	sbDbMucTZU6jOZalyUbVIG5yd+eWjHYEzdzfNukpFLG/m2McJY6Ktyx80+K6eENUKcfa
	pkZhBna0WY14Ea1x0G+m64puTllH6zUks02x2KodOoWesItWJSxT8PJT47q7ZNSIh+pM
	uqlWDWl0joEB2tYTj9o6MK7OXVgbIOhdVKTSXDNTnuwitUEptZpG9KqAoSUZWvCGvDdt
	XWut77W0DrTGFqNhdTagDulWympzxROZ5BmmAAlFcgJTcOinhISMJYUEmpbvybXOSncd
	gfI0yCxQgR3x9FS6tTbgaUuCvSX02B5GlgBpFUvsj3H6x/tFIlorEBhfLcApCKaqfAe4
	PVoGPM0FA0ixdGRI+5JAuCsB6RKEttCzmtQntsizqtTDUX6829ItP64FIlERcVJd9ujO
	8QBKQoASW8Z2QGQTy2EridBsh2dZNYCOhXhGPsPWutGULhkX02uXa59vdDHpVhmdWwKR
	qahNMV6qDmwKB0ZRBTZD/k22ioBxz0gxc4NwJbCfre99b50BZ5yx9Ni5fnY60+tJrL9c
	vGu6ktqj6RKHF8FUE3lkZnyqCexp7XKOvSVTBJr9zFFrbndvKksJFpt7d7CKhPQyRtMC
	LXGFxdFcuEYzTHXVp1NloJ8ZZ7jfp+l+tp+x6n6mRQZcj6Tx62k/G0a9brhRXZwZZHP2
	fgY8Ndbl8o1QAq9KuPtmP2OiNQr3M7Tcz9TcOaqIEVVCQ85tLrXv+5nwhO5PXH3ORVvf
	5f208vezbj/jyP1MOTMba6dOg+ZoV1ydhZbqqsZ+ForYz9nKfkYqqbVKqjIr6c07h/Yz
	ans/W2/Y/zLy60+PGNR1ZdfBxfYwDRx1et/PaMz3dCKbWjlz7lqo8nBh7+ghSs/pEJ4Y
	83B2K1BGW9WlCw17YZTl8kFsSu9nC+zdPPkv5/uZMW+nqVgT6y4u97OVX2yuuxDKl+Jw
	7JqqEr1kJZQZeZVdWmNv4AQskqV3ftGvVaecjhV4f4Gp0zd7ivuVVUt9P6v7uNgRKwlW
	lVwdg7BTImID3Q0jkvS2PXbkea7Yh5BbVSSuCK+fo6t5oxmT3Ghhfl68sn9W+Ik/1vZ9
	etvPiCO5rdjzqSjVjTKIO0lerQnjDv1QMiiWyO9WY6zYKxSHal3yl51onla5tvSJVeTK
	SMSRcXveWVzx21hojMvhH4VJm/N+nsoy5yv5cusx8uoMtkYxX4aNayTFjgrVIkg28i1Q
	g/khJweNYg/Q4zkDGHdXMoG54U2h72XJ5U3xuTl4AJKRodb0RqSZtcie1zdpKU1zM3Lw
	ZhIC8zgwt7Ua7QyB5VYSXdvuYOmAv5hZf9P9ZPHuUG+SmOsa30riYJgMJEtTYWlmczjp
	XfJWueXJqg0SSqIOImhvHYICYuvryDRAXgfp7fYOdtDxPZM2D5vyen+j5AXwrOHIAoXQ
	db59l8L8HntKB1rjfaBxzaX9rMSTla72s/idiWsfVfq9HWyf50y5ABFPHlYkQB4kFcmD
	ptGTluQnpsWTvBRAOxRW0qrgLRcSSxUkruauuI0OPSJ8Iw7srp/mi5NVOjeMN9XPbWOI
	R1XyaLju2UJye3MNB0vZ8HiHBY3Et4bIjzUFhuq0kiQ5nu3SpXIL0lZ49xN9d80VSo8i
	fEPyZU0/J3jjemxYeKNMMiD0Yy9Uic9N0SEqyYsMpW8VsXdM4PSh2BuGgGCsCHWkCDBS
	3DpWUX1SPG0HheJNDfLGyJJ37dZmemawqwBAE9H9uIMbQ9LLYuIBl/eB6zgGJEgZ9Abf
	94oy9AcFYUwX7hQ3jxVEH9QhP8hDFMkIhoob7eSBrlYAFr5Y6GsCNq7Xqes8KT0PXJQs
	sBWeFKWgdvwxbyeIFJRvMV4kC4kvD8YWy42MnAAgwwQ97QPB8RSXPmgDkauZg1YiOGue
	lq0zvCGr9+RkDCypEnxqu3Aq8Y4pDg4m4WzAYHgAaTgRfNog4AFBs4BTu+Kg6cBpR/1z
	fNB8WdBwUFwo1CaaQEP1BiDetKGKWMvJdq4lG1sNRUhG4wnmOADSHm4exqkdEfHrB+5T
	ehIyLJmnA0zclgVsjwIfJxTixMZm7JTcDV05WWxQflC8aKsNQSYLLLY3LMD3zvPE+zj5
	4MgXF4LA8bCEf5SYx4BPO9lYBBLyFKHdqihJFYEOVRTswBD5OHdb6mtbdNgV4FvME+cP
	W08SnvLjXUQA88fjwygbcUuYibLRng0Z8lB1E1JBbKAiwxlrJqExfu897cf8f5OO6OJ6
	8PkoV1Kf26LEkVYRRQ5KFvK9DfVxsrgAYzupKhB4azeCR16CZjxxtTWAr7q+cB7S+VUf
	ZcCT0IVbGRkBxsMnfR1aQsDIUu5Lg4HPTmKnCkYMIDvWy3jkOTzy/Yz7wMM3D3zjSMY7
	ZY+yLn1dfcd7K/m4ZBP4Fk0sWXpOzpcUg2/LFP7YwbfPdXobh5k5SRH0fLEgmCW+S89/
	/J0PSr+u0r/6nvzrD5O//Tn57x//AQ==
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.mobileslideshow</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.5</string>
	<key>adjustmentTimestamp</key>
	<date>2021-10-04T14:31:35Z</date>
</dict>
</plist>
