<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	bVDLTsNADPwXn0PUlEjA3oALvVAJJDggDk7iJEb7iHadlqrqv7PZtlErcbNmxvbM7MGQ
	YIOCoPZgMAj5F+KuF1BFWS6yE/bJjfSgbhPkPJMVFHYW1P0hg9Z5g/JBPiSoyGBznFe2
	ddPhamTdvI6mIg8KioenuxIywGGYd6AslvkiL5aLSIS6J4NvtOEjGX8OGmV6E5W8fof4
	FJufMYiJTgKor/0/JshipakB1aIOFM+SCNsuTI52uE13Y5aOLepn74ZZ+LtOaBIEg15m
	ZnvZw+5SJh6n2sg+2k4TqJsI4ihuXu2vaq2dTStWznVfgae+p+As9TTFxNzEsNxyKjEZ
	Ple/umRqZ/JYraZ86F00cPg+/AE=
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.mobileslideshow</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.4</string>
	<key>adjustmentTimestamp</key>
	<date>2021-11-09T16:12:39Z</date>
</dict>
</plist>
