<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	bVDBSsQwEP2XOYfSdtmlm6Mo2MsKCutBPKTNZDvSJCWZFqT03027rih4G957M++9mcEi
	K61YgZzBqsgYHpEuHYPc5VUlvrFX0tyBLHfFQYAPhI4Vk3cgD4sA44NVfMYQN6gQMF3n
	2hm/Hm5G6vVptA0GkFAc7/b5vjQgQA3DzxrsqqLM8qw45omJbYdWPeNEVzYXMPSKV6sk
	pacXSMZKf4yRbUoTQb7N/wRBp5oeNUgOI6aryEzuEtdQaAy2f8UbclIW1zT3Z5pIww2u
	HaOLxJ9JmqxJJ1cytDV62BRw+0T9m2u9zVLNHrOh8+xheV++AA==
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.camera</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.4</string>
	<key>adjustmentTimestamp</key>
	<date>2021-10-04T20:10:55Z</date>
</dict>
</plist>
