<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	nVfXjuNMzn0X3/b808phgL2wkq1sBStt74WSlbNkSR587/6Xuyc19gN2sYIN2VWsw1Mk
	i0V+PzTpHCbhHB6+fT804TSn4zktsnw+fEMhivryY8wtkjk/fENQmPhy6MYibedwLrr2
	8I3468vh1o1NODvpOL0PwV8O94/fYnvrnsDRUtSJtjRROh6+HWCawSEcuR2+HMK+/7Xs
	gFIw8hX6CtMQmJniPG1CM70XH7PQl0Nfh/NTFRAtdOsAFIdJuUxzA9hMh2///P43RNI2
	jOo0OXybxyUFqOk8F202PUl1txv4a4XzMv7YC9BRtP0ys13dAaKACgGRFIZCGIzBNE0h
	NEB4bnyai/gdYwrnSzrGgEBRpzT1XEOhNALjBI1TOAVBMAlIfJI6/RSDURLBcRoiIZwi
	n3b9JEbiTykCe85SGIYTBIrhyAfYcZk7J6yX9G85Art8bI0Frnvf1I+/XTuPP4dCAPFh
	FCBeJE+dt+LdO1YTjj8s8FPs+6/3fzAPwIqXcQRoAOh9za/oEP/UEXfNV+D6Ov3a5927
	1P/muzxMuhUM/B/0FQGWxCGUpBGUgGGK/uFK5SOWAVcSg/784D/NcgYS9VNqeoohME3+
	8TxPwIeY0sVh/QsNIRCM/gPslxi/9d20jOk7J4gmkOcXw1GUIGkchn+KMeMTqU2n6Q8H
	MXUYV5euaD9c9DnSegh5Koagj/CiCITEcIimIBQcDBx6zqH0hz/eAwujP7z3O05InP70
	fDnMXRvWZthm7wIIQtEUSkAYTSJgVygAjv5k9NQNrEPgMAahOHA3QAS6kfdAhX+Q+UkO
	oL8bVQ37X/kE7L7/EfzQ5wf7Lf0j0zyF66fJP8U6QtKf1lG/1x3vGQisqx//4/B78Jkp
	xlRbupeXitLdDb9JrcbeIPztteMuhoaKpMjhWJyuE8OuvHI0fr5n1/ctdhILKBmmXsmx
	gTNjlTGgq8wP0oTtWBkt5h23hTpOo4dEWu3CO1RT9jk5E4N4env9DAje8JxkmL4Wo4NP
	e7fwBaTOx/XM5X5ni+lejKG6BCxgKjtbUEqt+pJCfRuXM8tOnbzfxkzxs7nmTuY5vjqb
	fsWuGtxwN2I/TejpLrOQrhwnll1VQ7McIR9ZaRZ3vCQJe5MitaZPIYKjt2YutFWUl1JZ
	hHlPCtvVLkEd7DbKk3ZOIVcUpnqRnYJhapXj2nBHUWWYYyeyL8KIDWipSj3scKabOAHM
	7YHW6deHiHK5wqoLhlCysum+Iw1um9vJA7bPZaAlrZ6ksuS2ltpxrKge15Xj8yoWu3Ar
	yFpba4sN+rofrrtnhlDaCpFYTiw/YiFURH5/r4XW6focBaFwacVUh5IpFPGu3Oa3V2BA
	lQeA3FG1AGgENi4v/oNxTnBaVWxq9BI7WA1sTq6x+taWDft52vfdCZhoaqzUk3PuZmK0
	4ZrpzakpAYI0fp08dhWVY85fhDx8EnmAjVsFbNV6GI+dbUUyKQm7pPA56XKjaC2qwnix
	QDx8Sauaq0mcS4h0YXOzkcnRjljNs6rCrhPLbUeLF+UpIxf5Xum41udSX+5X9SzCRckg
	1eRKi2jNGbEuI9xEAK9vT6fK9MTkYjuWfdJ4L1cbzsh0zpjOwOEXdjsqtxC6Tl1KOZPk
	V8hpUoPcqGydP3m6uYo7lUfAoB4yun2QV4h+8weNSbeVUvmZd8oN2I5S3SOenRtTCCAz
	NT0+STdziyJhucNI6EqJU+76SfNht+uIt9cyApHXWfNtqMPqZL29xhJedJDlnrlpMspZ
	0c+algtWFkg0fEddJAnrpjO1he/m6+wTLzq2oglLyDbuDzkUek7Manc/3TMCf+nrgvdx
	OB9qJDVaLNKKitBap6jRdM7V4oSJ+ks+BW+v43mY4qEmJjOFSuo4NLte2nK/TdUJ0bGq
	uYPTn5MWM3hD45ylbEP0wB8hwNacIBFOgsZ7oQr1pEA4VxXJIDxExcxkYMCOnfjR0lee
	ZO1wi3peHy8hVacbQYJDdZ5RpEl6+BI7e+ZLc9xwsH96aKcObXCAd4XxR9XpuouJY5JN
	NDVj1pKFkDn6Cn+hDCIqrKPkxU1bBgg3nrQFBPttyOGmyhenoYMcDh56rRZxE+ZxaJ3v
	3dvrqVB3FZPuYzkH6OYh6I2oz5U5k3rQMCuzaSJKlYXFChKKjWnXoHnE0L0nR8apB2cn
	n52GIq77YsUKQ9+xW1TRu4mKrZvPMvM4K2efFPghz2ddYvqxuzOigFHZw+JEeIqC624X
	UXGaPKROgsmPHBPW0BVYcmdsP8zhvUPtfK6Re3s3ctqhd+SEiCgUNC1RJ0NCDBhwUbSW
	9zwpBES9ulsSKF1NT+1yj2VhbbLZ+5UuseA+NaiQTS/SLqJaPDPThJBHdwQZNH/Jb6H2
	9tp37JiPJ2nOwxfOMDQ2gzsexVLPLbCEqL2boCEsAiluNoOjBymziywpnROwF10SClEh
	ydaqeOHX1oVDQqM6DylvhMuOYrjm5CBMXYOVyvb2en8ghEpW6ci5zNXLo9ygKa6e4qvQ
	7DkVGrDvabm6sA/xLKUjDfVn1g9xAVydw+0WSi+9eBoykKhHrAEJrUrvBlSCc6swR2gS
	H9DgFSeBYzFNMGBG9Kl2aIg+m5i31/087LFsLrWL2FEfLFWz2KmEkx9MQ2bw9TlXjuaS
	QRK7GiBhQ/n5YbSa5a9Sp+ayiRVi0ZUya0wyF4xdS8rBJD3a1srjYFubBrmG4oZ05ya9
	yYDo+aXJwnUcVkjkjEphjDUTLxWIAI1TOKhXLXU4F3ws7v4sl8aoF8QplGZ4FnY/6PC+
	cgczxJ0q3wgrkXq8RffyNpgvk4FfOaNTmYzSeYu3FW62Lo6KOOxESOXxJm1dcrayXi9N
	QasTaED3exwKLki4R88HFZobygLGjJXnBmlA032lDyD5qcxKpfzjGFhsXmr8zPmckynX
	46jtGSKyayxa09urdjXeXh2MvGax1DUn3Q4Geu4RJAsl1ROaQo4lB23PQ8WhGGC4NkrV
	PXzGerlI/miy+EW9doNR5rpe86ttHSedx2iHa4ROQwTIQbxbZHF3UcZuCrO2ue/aYr9W
	bZGmA8jq63riOJzzKqaSkuvi7OZZvl4xj2OSS02zbgmXUglOkQMlyWUmKqwFjDPVVTev
	5XxCEssHjQuMEeQe66eDNg3HleSOlWJD82TU8IkoS8zwNLmsJE93e87nNVeH18W8OrEJ
	A8CAvJWxe9yuL4tJCs1yBrd7T1ncFvvJsBxHBNm4B7jljflkN6BMuL69hvrbay7coBdd
	d8S3V9fGPb3CHkaZnE2nFzDZrutFynbnppcqIe1Og1utwzgbr/FtXi6nBWjt7OAIKSw0
	qxGkzaZnDOD6vBk1fvZL2NGhFTcfrnmJ6w6VL0WRIDIeRM2NpqONX0SzxaXgmmR8hsVl
	DWq2oDPbEtplHpmUM69NhruxkR3JIjzzPkR3Rj3R9mPWOQ45QdLFKxL5DJ8RKhlwuPfc
	R0TgdScUvO1OzypxzYs5/VXd0hSFoDhCYzBMgrbrWazC72U19Lncpp9NWA4KTDndn9Og
	hcNQnAD1Mg4aBlDn//XvDdezPwFTOAqQMQz0KO+NxUdTdQvr6e+bMLtr08N/1z/966//
	Bw==
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.camera</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.5</string>
	<key>adjustmentTimestamp</key>
	<date>2021-10-04T20:10:55Z</date>
</dict>
</plist>
