<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	tVfZsqM4Ev0Xv/pGFbuhIuYBI7Ax+2YMU/PAZnaz2oA7+t9H+Fbdruru6Y6ZiHGEQwhJ
	mUcnTybSL5s6GYM4GIPNl182dTCMSX9M8jQbN19wBCPevr1z83jMNl8IBMfeNk2fJ7cx
	GPPmBmf9+ra5Nn0djOekH16v0LfN4/1ZvF2b1XB4z6tYvddh0m++bDCUJUmciDdvm6Bt
	P5ZtCBT5hH5CEQQODFGW1IGZPPL3QeRt01bBuHqCM+sg0qwN9BzExX0Yawhn2Hz55y9/
	giS5BWGVxJsvY39PoN1kHPNbOqyorkGUiND0J4TZ4TTNIDRG7RAMRXfM22ZM6jbpg/He
	J5svJIJAAGkfLN4Lyvokvp5WG27Q1ys7yCfybTPBjg3XvkbXjgBnbL5cg2qA7qHv8WOd
	8fKN4Dsc25ErBJxYkUDnwX1sPtaszn5yETVV09tLm7w2uA4bHzatsU9u6ToV/Ybl3SPk
	Ko8hTfk1f8XAzfIx2QdVcIPovjv85aP9a3h/SdwfGPkdLIgkuvewC2G9xjYfChJ/RBg1
	9Scojyr51GYNRPXr238Z3uZ6hV1rDeE3rUKO8lt7H7mVwBd+6v2HUQxUO07RUN3Dquxh
	zKOXkSEY9aSPVlxVwtDrIgZ//+1whGJ21JoRcBYLmTsH1T35j3Z/tLQj12nUjiARhsZw
	HMMwhkKJ3806vDukEZzBUBI2KEHhFLam3PvmOJicr2196za3sf/+6j2UKy2/j71VB/03
	Dv4Y+b8j6KfwvRb9f8OXBXEzDb/FTn4vTsgnHF/JgPwhJMkwBEN9Z+EIZ1TrrOEHauQm
	Cqrva7+/5Oe2GV4J/vFq369zbsnw4+J9FUSl3nzP3Z8V0iLYt0RZg0TRFPYeVQSHJYtE
	1jEMR/EdRhIMgjIUsqPJd9o/5PInWwl/dLkaR6HUSBQWYBIKBt1BE2NzCyozuKUvGyiG
	0gyzQwgGRTEoSqi4Fnup7JtT4gPEOvSurB2JMQRMW4rYISRNr4tezCkBrF8bBRC9liO0
	+FRK2TKdk0VMun1KHHeOE5djAcGq+5RBjEMUO+ygA9aBfeQADEPdswgPWEVhp0kBhqdy
	BhGeCpY5g/NFEYza5IyHuBCFtDCcKpBGXJGE553qzBW+fnZvlRoUowFsR94bq0HnR4MA
	AEc9GhQALXGWnDOh4SOX8hIwLgjjPrNAdkTiwjPPC96WmXuXfU9NrvY8q6jY6yxygoCU
	d3sQqPHeqnsRBRmr3wzkovtK35SBbbUt15SWqhHIPX9mjIm3YYxph1Akm/ygCQ6e+pec
	BCCdIL4JcJMi79kxD6JZWNxQODLprU/RUnBpyjHbr591gafPz07WiLKOc7Y/VTQW2+f2
	VKVVviyKJ1bu1YlLlW/0w4QIcMMymw57IC7cA3fnMKSJaR/3YD8oqo2i6oXFAmS/6DWx
	c2fSOlpeouTkLGF063MmISFDoe+bXjBLS2MRFW4UEjhw3CRO1VEr44BMOwtTQaEYsTHt
	VHJ/rHjN0ImBCWy0UCu6tPNzLmPe3V1IR3KmXJmbUlhS57hXTGAgcOPQHqVmY3q/hK06
	3zDO02+RzBp3g3t6scmpolRO09W2JO2E3Btu66uNwYT2GKmV8bSWmRVtJzjOni/seXUy
	cB+oPjs9DxRHmI/KxQzfQ5XrNGgcwcqsGZ0PZuof5qY6Fg5jzacjnzWWmIkj//QCdz+r
	h7z0T1l0FTLP4g388hJOOgBXYWXumDzC4NSUJXXicETOIL8ve2YD/2lwsGeDLyeoZloF
	U2NwKa0cQOkds8jlc1Y/sMgZRLQSGlCIiqPM7JzlisAMN27RSScq2EXkJl7mpsEGs2cL
	mXE+nsWLNW0RECo6x9InMLMab7KmsBcdPjNgq0AecQewao8YsyYO3RkRn/w1nPQKpQpA
	epDPYb/afW8d3TQjhpsJXTdPLA8afZ7BCXSsek6nI2Aj7ZBC/cSigqT4GbAn7Hkq/Dza
	nhYuCf2dgnbpkP1mD7Zmehc4TxZshVEd/q7baOMEJ30pZV2TlbpLieuaiAt/jIDcKHvx
	aFTx4mMnXbHaQXng0hbI/E84jdpTnXTkNfFcF5X/9bN9U/WEJzP7cDpeLFIVniLMQFwA
	/irMpS7V5IhLelurKjewC3MdFKVPf9y44GQGSnCL3+c453ieeumrGrflk+YhbaYL0dNM
	UX4tQeyE8PYuNzFRFtskSYgnzkGC8Tld2kJhrgv7OHK0IXeXpASkokVuroX+qchAu9Nb
	U+rKrrDqPe/mI6wYzVraoF2Xw7yvnz2ri/24CiU9gsqqdzxHbu2pobZF2J3unvVMpcFo
	WKyxcJ+Li3iSsPJuWVV4PDjXgGUs7snuLsg8roZTUXYujM95yFzbtZc1xsQBmZYnUt+X
	4XYtlLtc1thuwmrgiBpv3RWeSP0iW1SRZJ3crKWjOOj5NAILV7yIRSibTtGuaHUVNXl3
	nmEGiEo/PfclfTAf5OHr56LHpJGQRhB4qjpNfeirY3GRxlgakeZy5EIKfRQ1ZnOTerry
	GAd8R3YskhQLJVU5GNKK/VZKLHM6HbblwOmPZiFSilDbFEGAQ3YltihRP1N3PN8mMrnc
	MUoLyUZh0RN9udF6BddLT3qxHeGu1zxqGxPPTd45J3VQRpw1edttvkv2vYHFIFfUqK6N
	gDKX+00bEknFhoushD46VNPEuXibXGfJhsQiBqgc+0BKPm+64Aw/Ug4zVoplT63OFTvq
	NN6CBoi8BoxJ8D2/IQ7YEJ6YR4NLY0irfYvdbaiUvKjdCyDLc/+MgY7GWuQwk4lO94tB
	HO1D4KwBgnbNyatxWRrkV8mAKZK51j4Izfu9xrWQNvuuzp3Ah98at3Njkgj6Z5dp/PD1
	87mMF6uejxck6wA6K75v8yUNqywp7/NwuAwskcLarB4MTPDFU3M7dGVArsTWh8DzuzJF
	jvGJIZub+9DPquCVfm26lRIIwsPG91zCx3kVWc7sh4dykKTHMWlBkxo2R+mAmNu87uTA
	h3bqzgnJ81LfpCTuBKqt8/Dii7uzEycmJnBZxemOy5zDp59pZ8ud24tQDe5L8VaH6KW5
	x5WB0G8XK4z9dqkwygpJYamO1iX2K+J27K6hP6nFvEe1A40Gz4o0b/7eK8YGFHRon2xQ
	KdoZEsoXO/p8N7Ytv6PHM7ttk04lb8ckjEgfqY+BH5Mj7N/TqyRgt4mCGRSNJi85mmru
	4Recli+NvsyPEvJoTr4OiuGgPvY1CfhBtywB4WV/Oxy7LPEZrL7lSdKS1A3vrtfO/Pq5
	O24bQYY1aUIPBxfVsSrU5F6JApZWhLNrTSJFQwVpa0oW8mROKbEVylR9mLYGr2t0c+mS
	BJ7QmguWQYDbtpGGtGvhhogTsIadz8+NczzJcS7EwDQcDWZO0S/Gw6PofFft5gk3geNo
	D7QQeWX/9fOAY3VC7XcNfs/0gEdbkNvnLue6hpsBFqmcVVm2W9nReT8BZFBBxhfvALcM
	rEUwxTuSH0RNzC8i31P8QEh9HKTTLb/LkutcgrNrG75SdKLUplLj3wxa5S0ivNhMIZ0J
	GZ5CRLAQ/4A3hWo9Qv90zSEw5KcfvL9M673y49z6+4PnevJEkfcT7Y8DrxPq2yaDZ08p
	WV5XI5JikB3CEOQ6YUftfv1fLjl2c/uz2+3fXCT+5yvOv379Nw==
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.Photos</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.5</string>
	<key>adjustmentTimestamp</key>
	<date>2021-10-04T20:10:55Z</date>
</dict>
</plist>
